@page "/"
@using DNP_Assignment.Auth
@inject AuthenticationStateProvider AuthenticationStateProvider;

<AuthorizeView Policy="MustBeLoggedIn">
   <NotAuthorized>
      <h1 style="font-size: 56px; font-weight: bold; color: #0B4E58">Hello, please log in!</h1>
   </NotAuthorized>
   <Authorized>
      <h1 style="font-size: 56px; font-weight: bold; color: #0B4E58">Hello, @getName()!</h1>
   </Authorized>
</AuthorizeView>

@code {

   private string userName;
   
   private string getName()
   {
      return ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[1].Value + " " + 
             ((CustomAuthenticationStateProvider) AuthenticationStateProvider).GetAuthenticationStateAsync().Result.User.Claims.ToList()[2].Value;
   }


}